table.react-auth0 {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
  margin-bottom: 20px;
}

table.react-auth0 th {
  text-align: left;
  font-weight: normal;
  border-bottom: 2px solid #eee;
}

table.react-auth0 td {
  border-bottom: 1px solid #eee;
}

table.react-auth0 .table-actions {
  text-align: right;
}

table.react-auth0 .table-actions :last-child {
  margin-right: 0;
}
